<div class="relative overflow-x-auto w-full">
  <h2 class="text-4xl font-bold">Table des commentaires</h2>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Utilisateur
                </th>
                <th scope="col" class="px-6 py-3">
                    Commentaire
                </th>
                <th scope="col" class="px-6 py-3">
                    Notation
                </th>
                <th scope="col" class="px-6 py-3">
                    Film
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      {{comment.comment.getCommentUser().getUsername()}}
                  </th>
                  <td class="px-6 py-4">
                      {{comment.comment.getMessage()}}
                  </td>
                  <td class="px-6 py-4">
                      {{comment.comment.getNote()}}
                  </td>
                  <td class="px-6 py-4">
                      {{ comment.movie.title }}
                  </td>
                  <td class="px-6 py-4">
                    <form action="{{path('delete_comment', {'id': comment.comment.getId()})}}" method="DELETE">
                      <button type="submit">Supprimer</button>
                    </form>
                  </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
