<div class="relative overflow-x-auto w-full">
  <h2 class="text-4xl font-bold">Table des utilisateurs</h2>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom d'utilisateur
                </th>
                <th scope="col" class="px-6 py-3">
                    Roles
                </th>
                <th scope="col" class="px-6 py-3">
                    Dates de naissance
                </th>
                <th scope="col" class="px-6 py-3">
                    Emails
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      {{user.getUsername()}}
                  </th>
                  <td class="px-6 py-4">
                      {{ user.getRoles()|join(' | ') }}
                  </td>
                  <td class="px-6 py-4">
                      {{user.getBirthDate()|date("d/m/Y")}}
                  </td>
                  <td class="px-6 py-4">
                      {{user.getEmail()}}
                  </td>
                  <td class="px-6 py-4">
                    {# <form action="{{path('delete_user', {'id': user.getId()})}}" method="DELETE">
                      <button type="submit">Supprimer</button>
                    </form>
                    <form action="{{path('update_user', {'id': comment.getId()})}}" method="DELETE">
                      <button type="submit">Modifier</button>
                    </form> #}
                    {% if app.user.getId() != user.getId() %}
                        <form action="{{ path('toggle_admin', {'id': user.getId()}) }}" method="POST">
                            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold text-xs py-1 px-2 rounded">
                                {% if 'ROLE_ADMIN' in user.getRoles() %}
                                    Retirer Admin
                                {% else %}
                                    Passer Admin
                                {% endif %}
                            </button>
                        </form>
                    {% endif %}
                  </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
